encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1m8mem6vhll8syksfeq2vjkvcvzwj7hhw29t7wgjvgn6fe3knu34q9r4cmk"

[diff]
    command = "nvim"
    args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
