#!/bin/sh
# vim: filetype=sh
function log() {
    printf "%0.s*" {1..50}; printf "\n$1\n"; printf "%0.s*" {1..50};echo
}

log "\nBEGIN UPDATE SCRIPT\n"

{{ if eq .chezmoi.os "linux" }}
    {{ if (and (contains "WSL" .chezmoi.kernel.osrelease) (eq .chezmoi.osRelease.id "opensuse-tumbleweed")) }}
        log "Updating zypper packages..."

        ZYPPER_NON_INTERACTIVE="sudo zypper --non-interactive --gpg-auto-import-keys"
        $ZYPPER_NON_INTERACTIVE update

        log "Zypper packages updated!"
    {{ else if (and (eq .chezmoi.hostname "baky-fedora-pc" ) (eq .chezmoi.osRelease.id "fedora")) }}
        log "Updating dnf packages..."

        sudo dnf update -y

        log "Dnf packages updated!"

        log "Updating flatpak packages..."

        flatpak update -y

        log "Flatpak packages updated!"
    {{ end }}
{{ end }}
log "Updating Homebrew packages..."

brew update && brew upgrade

log "Homebrew packages updated!"

log "Updating TPM Plugins..."

$HOME/.tmux/plugins/tpm/bin/update_plugins all

log "TPM plugins updated!"

log "Updating Rust..."

rustup update

log "Rust Updated"

log "\nEND UPDATE SCRIPT\n"
