#!/bin/sh
{{ if (and (contains "WSL" .chezmoi.kernel.osrelease) (eq .chezmoi.osRelease.id "opensuse-tumbleweed")) }}
printf "\nInstalling zypper packages...\n"

ZYPPER_NON_INTERACTIVE="sudo zypper --non-interactive --gpg-auto-import-keys"
$ZYPPER_NON_INTERACTIVE install {{ range .packages.wsl_opensuse_tumbleweed.zyppers }}{{ . | quote }} {{ end }}

printf "\nZypper packages installed!\n"

printf "\nUpdating Zypper packages...\n"

$ZYPPER_NON_INTERACTIVE update

printf "\nZypper packages updated!\n"
{{ end }}
printf "\nChecking for Homebrew...\n"

if command -v brew &> /dev/null
then
    printf "\nHomebrew already installed\n"
else
    printf "\nInstalling Homebrew\n"

    NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

    printf "\nHomebrew installed!\n"
fi

printf "\nInstalling Homebrew packages...\n"

brew install {{ range .packages.wsl_opensuse_tumbleweed.brews }}{{ . | quote }} {{ end }}

printf "\nHomebrew packages installed!\n"

printf "\nUpdating Homebrew packages...\n"

brew update

printf "\nHomebrew packages updated!\n"
