#!/bin/sh
# vim: filetype=sh
function log() {
    printf "%0.s*" {1..50}; printf "\n$1\n"; printf "%0.s*" {1..50};echo
}

log "\nBEGIN INSTALL SCRIPT\n"

{{ if (and (contains "WSL" .chezmoi.kernel.osrelease) (eq .chezmoi.osRelease.id "opensuse-tumbleweed")) }}
    log "Installing zypper packages..."

    ZYPPER_NON_INTERACTIVE="sudo zypper --non-interactive --gpg-auto-import-keys"
    $ZYPPER_NON_INTERACTIVE install {{ range .packages.wsl_opensuse_tumbleweed.zyppers }}{{ . | quote }} {{ end }}

    log "Zypper packages installed!"

    log "Updating zypper packages..."

    $ZYPPER_NON_INTERACTIVE update

    log "Zypper packages updated!"
{{ else if (and (eq .chezmoi.hostname "baky-fedora-pc" ) (eq .chezmoi.osRelease.id "fedora")) }}
    log "Installing dnf packages..."

    sudo dnf install -y {{ range .packages.fedora.home.dnfs }}{{ . | quote }} {{ end }}

    log "Dnf packages installed!"

    log "Updating dnf packages..."

    sudo dnf update -y

    log "Dnf packages updated!"

    log "Installing flatpak packages..."
    {{ range .packages.fedora.home.flatpaks }}
        if ! flatpak info {{ . }} &> /dev/null; then
            printf "\nInstalling {{ . }}...\n"
            flatpak install -y {{ . }}
        else
            printf "\n{{ . }} already installed!\n"
        fi
    {{ end }}
    echo
    log "Flatpak packages installed!"

    log "Updating flatpak packages..."

    flatpak update -y

    log "Flatpak packages updated!"
{{ end }}
log "Checking for Homebrew..."

if hash brew &>/dev/null; then
    log "Homebrew already installed!"
else
    log "Homebrew not found, installing..."

    NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

    log "Homebrew installed!"
fi

log "Installing Homebrew packages..."
{{ range .packages.brews }}
    if ! brew list {{ . }} &> /dev/null; then
        printf "\nInstalling {{ . }}...\n"
        brew install {{ . }}
    else
        printf "\n{{ . }} already installed!\n"
    fi
{{ end }}
echo
log "Homebrew packages installed!"

log "Updating Homebrew packages..."

brew update && brew upgrade

log "Homebrew packages updated!"

log "Installing TPM plugins..."
{{ range .packages.tpms }}
    if [[ ! -d "$HOME/.tmux/plugins/{{ . }}" ]]; then
        printf "\nA plugin is missing. Attempting to reinstall all plugins...\n"
        $HOME/.tmux/plugins/tpm/bin/install_plugins
    else
        printf "\n{{ . }} already installed!!\n"
    fi
{{ end }}
log "TPM plugins installed!"

log "Updating TPM Plugins..."

$HOME/.tmux/plugins/tpm/bin/update_plugins all

log "TPM plugins updated!"

log "Checking for Rust..."

if hash rustup &>/dev/null; then
    log "Rust already installed!!"
else
    log "Rust not found, installing..."

    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh

    log "Rust installed!"
fi

log "Updating Rust..."

rustup update

log "Rust Updated"

log "Installing Rust packages..."

cargo install {{ range .packages.cargos }}{{ . | quote }} {{ end }}

log "Rust packages installed!"

log "Checking for zoxide..."

if hash zoxide &>/dev/null; then
    log "Zoxide already installed!!"
else
    log "Zoxide not found, installing..."

    curl -sSfL https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | sh

    log "Zoxide installed!"
fi

log "\nEND INSTALL SCRIPT\n"
