[Unit]
Description=Cliphist clipboard history (image)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/wl-paste --type image --watch %h/go/bin/cliphist store
Restart=on-failure

[Install]
WantedBy=graphical-session.target
